[submodule "tpl-fMRIPrep"]
	path = tpl-fMRIPrep
	url = https://github.com/templateflow/tpl-fMRIPrep
[submodule "tpl-MNI152NLin2009cAsym"]
	path = tpl-MNI152NLin2009cAsym
	url = https://github.com/templateflow/tpl-MNI152NLin2009cAsym
[submodule "tpl-MNI152Lin"]
	path = tpl-MNI152Lin
	url = https://github.com/templateflow/tpl-MNI152Lin
[submodule "tpl-NKI"]
	path = tpl-NKI
	url = https://github.com/templateflow/tpl-NKI
[submodule "tpl-PNC"]
	path = tpl-PNC
	url = git@github.com:templateflow/tpl-PNC.git
[submodule "tpl-OASIS30ANTs"]
	path = tpl-OASIS30ANTs
	url = git@github.com:templateflow/tpl-OASIS30ANTs.git
[submodule "tpl-fsaverage"]
	path = tpl-fsaverage
	url = git@github.com:templateflow/tpl-fsaverage.git
[submodule "tpl-fsLR"]
	path = tpl-fsLR
	url = https://github.com/templateflow/tpl-fsLR.git
