[submodule "tpl-MNI152NLin2009cAsym"]
	path = tpl-MNI152NLin2009cAsym
	url = https://github.com/templateflow/tpl-MNI152NLin2009cAsym
	datalad-id = 5b6cbfac-d23c-11e8-aa11-64006a8a730f
[submodule "tpl-MNI152Lin"]
	path = tpl-MNI152Lin
	url = https://github.com/templateflow/tpl-MNI152Lin
	datalad-id = 9375ed5c-d36c-11e8-8ca6-64006a8a730f
[submodule "tpl-NKI"]
	path = tpl-NKI
	url = https://github.com/templateflow/tpl-NKI
	datalad-id = 47d6dd94-006b-11e9-9598-f45c89af84cb
[submodule "tpl-PNC"]
	path = tpl-PNC
	url = https://github.com/templateflow/tpl-PNC
	datalad-id = 7951b5d2-005d-11e9-af21-f45c89af84cb
[submodule "tpl-OASIS30ANTs"]
	path = tpl-OASIS30ANTs
	url = https://github.com/templateflow/tpl-OASIS30ANTs
	datalad-id = 531d03b4-006a-11e9-8b4e-f45c89af84cb
[submodule "tpl-fsaverage"]
	path = tpl-fsaverage
	url = https://github.com/templateflow/tpl-fsaverage
	datalad-id = 22e3d07e-1915-11e9-a3af-64006a8a730f
[submodule "tpl-fsLR"]
	path = tpl-fsLR
	url = https://github.com/templateflow/tpl-fsLR
	datalad-id = 9781f092-192d-11e9-8fa4-64006a8a730f
[submodule "tpl-MNI152NLin6Asym"]
	path = tpl-MNI152NLin6Asym
	url = https://github.com/templateflow/tpl-MNI152NLin6Asym
	datalad-id = 39d3b374-51b6-11e9-b40c-64006a8a730f
[submodule "tpl-MNI152NLin6Sym"]
	path = tpl-MNI152NLin6Sym
	url = https://github.com/templateflow/tpl-MNI152NLin6Sym
	datalad-id = 07c74142-2453-11e9-8322-f45c89af84cb
[submodule "tpl-MNIPediatricAsym"]
	path = tpl-MNIPediatricAsym
	url = https://github.com/templateflow/tpl-MNIPediatricAsym
	datalad-id = 2b4dd538-8635-11e9-91c7-64006a8a730f
[submodule "tpl-MNIInfant"]
	path = tpl-MNIInfant
	url = https://github.com/templateflow/tpl-MNIInfant
	datalad-id = 6c083c36-8701-11e9-8d6f-64006a8a730f
[submodule "tpl-UNCInfant"]
	path = tpl-UNCInfant
	url = https://github.com/templateflow/tpl-UNCInfant.git
	datalad-id = bfb0027f-1e11-4ebf-9a2b-f89729916131
[submodule "tpl-WHS"]
	path = tpl-WHS
	url = https://github.com/templateflow/tpl-WHS
	branch = master
	datalad-id = 1633db3a-5db1-11ea-92da-64006a8a730f
[submodule "tpl-MNI152NLin2009cSym"]
	path = tpl-MNI152NLin2009cSym
	url = https://github.com/templateflow/tpl-MNI152NLin2009cSym
	branch = master
	datalad-id = 0cf19782-78f1-11ea-a06a-64006a8a730f
[submodule "tpl-Fischer344"]
	path = tpl-Fischer344
	url = https://github.com/templateflow/tpl-Fischer344
	branch = master
	datalad-id = 16c007e8-d23e-11ea-b389-64006a8a730f
[submodule "tpl-RESILIENT"]
	path = tpl-RESILIENT
	url = https://github.com/templateflow/tpl-RESILIENT.git
	datalad-id = 12369ed6-8547-4d05-b544-55fd70abafdd
[submodule "tpl-NMT31Sym"]
	path = tpl-NMT31Sym
	url = https://github.com/templateflow/tpl-NMT31Sym.git
	datalad-id = 18fd2a52-83a4-45b1-ac46-6f279cff90ec
[submodule "tpl-MouseIn"]
	path = tpl-MouseIn
	url = https://github.com/templateflow/tpl-MouseIn.git
	datalad-id = b88615ea-6f4f-430f-b1bb-daa33260ada7
[submodule "tpl-VALiDATe29"]
	path = tpl-VALiDATe29
	url = https://github.com/templateflow/tpl-VALiDATe29.git
	datalad-id = 998dae51-467c-4c19-8c7b-17a0f999a3cc
[submodule "tpl-MNI305"]
	path = tpl-MNI305
	url = https://github.com/templateflow/tpl-MNI305.git
	datalad-id = bf1bba46-0951-4040-bf0b-dcde0532612c
[submodule "tpl-MNIColin27"]
	path = tpl-MNIColin27
	url = https://github.com/templateflow/tpl-MNIColin27.git
	datalad-id = d1bd584c-6126-401d-9b44-e6e87d7c41b4
[submodule "tpl-MNI152NLin2009aAsym"]
	path = tpl-MNI152NLin2009aAsym
	url = https://github.com/templateflow/tpl-MNI152NLin2009aAsym.git
	datalad-id = 9ff3a3c7-3b5c-4734-a7c7-f3a9c7195bc1
[submodule "tpl-MNI152NLin2009aSym"]
	path = tpl-MNI152NLin2009aSym
	url = https://github.com/templateflow/tpl-MNI152NLin2009aSym.git
	datalad-id = 8285d24d-586e-4d94-9cbe-d45ab9ed6df5
[submodule "tpl-MNI152NLin2009bSym"]
	path = tpl-MNI152NLin2009bSym
	url = https://github.com/templateflow/tpl-MNI152NLin2009bSym.git
	datalad-id = 5cf02050-567a-46e0-be71-edc2dc2ea605
[submodule "tpl-MNI152NLin2009bAsym"]
	path = tpl-MNI152NLin2009bAsym
	url = https://github.com/templateflow/tpl-MNI152NLin2009bAsym.git
	datalad-id = f8574711-19f1-4e8c-8d87-2cf96c8da515
