[submodule "tpl-MNI152NLin2009cAsym"]
	path = tpl-MNI152NLin2009cAsym
	url = https://github.com/templateflow/tpl-MNI152NLin2009cAsym
[submodule "tpl-MNI152Lin"]
	path = tpl-MNI152Lin
	url = https://github.com/templateflow/tpl-MNI152Lin
[submodule "tpl-NKI"]
	path = tpl-NKI
	url = https://github.com/templateflow/tpl-NKI
[submodule "tpl-PNC"]
	path = tpl-PNC
	url = https://github.com/templateflow/tpl-PNC
[submodule "tpl-OASIS30ANTs"]
	path = tpl-OASIS30ANTs
	url = https://github.com/templateflow/tpl-OASIS30ANTs
[submodule "tpl-fsaverage"]
	path = tpl-fsaverage
	url = https://github.com/templateflow/tpl-fsaverage
[submodule "tpl-fsLR"]
	path = tpl-fsLR
	url = https://github.com/templateflow/tpl-fsLR
